# Rename this file to ~/.trello_secrets and fill in your details
API_KEY="your_trello_api_key"
TOKEN="your_trello_token"
WORKSPACE_NAME="your_bitbucket_workspace"
TARGET_BOARD_ID="your_default_board_id"
TARGET_LIST_ID="your_default_todo_list_id"
TARGET_DOING_LIST_ID="your_default_doing_id"